<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- เพิ่มเพดานขนาดไฟล์อัปโหลด (100 MB) เพื่อกัน 404.13 บน IIS -->
          <requestLimits maxAllowedContentLength="104857600" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\IPS_TH.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\\stdout" hostingModel="InProcess" arguments="">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <authorization>
          <clear />
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
</configuration>