<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>

    <!-- เปลี่ยน URL หลัง publish ให้เปิด /mgrips -->
    <SiteUrlToLaunchAfterPublish>http://WEB951/mgrips</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>

    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4ff92229-efbb-4f7f-9215-a46722953b5d</ProjectGuid>

    <!-- ถ้า cert เป็นของ WEB951 ให้ใช้ชื่อเดียวกัน / หรือใส่ FQDN ก็ได้ -->
    <MSDeployServiceURL>https://WEB951:8172/msdeploy.axd</MSDeployServiceURL>

    <!-- สำคัญ: ให้ชี้ไปยังแอปย่อย -->
    <DeployIisAppPath>IPS_TH/mgrips</DeployIisAppPath>

    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>

    <UserName>LITEON\AdisakS</UserName>
    <_SavePWD>false</_SavePWD>

    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>

    <!-- ถ้า VS ยังเตือน cert และคุณโอเคให้ยอมรับชั่วคราว ให้เพิ่มบรรทัดนี้ -->
    <!-- <AllowUntrustedCertificate>true</AllowUntrustedCertificate> -->
  </PropertyGroup>
</Project>
